<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box{
            background-color: purple;
            height: 200px;
            width: 200px;
        }
        .box.two{
            background-color: red;
        }
        .box.three{
            background-color: blue;
        }
        [v-cloak]{  /* the v-cloak removes the rendering the whole page while loading*/
            display: none;
        }
        input{
            margin: 10px;
            display: block;
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>
        <custom-form />
        <hr/>
        <button @click="toggleBox">show box</button>
        <div v-if="inVisible" class="box"></div> <!-- if the v-if is set to true in the below app config the vue renders it-->
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        let app = Vue.createApp({
            data: function(){
                return {
                    greeting: 'hello vue 5', <!--these keys value names are searched at the dom and rendered-->
                    inVisible: false,
                }
            },
            methods:{
                 toggleBox(){
                    this.inVisible = !this.inVisible
                 },
                 greet(){
                    console.log('hello');
                 }
            }
        })

        app.component('custom-form',{
            template:`
                <form @submit.prevent="handleSubmit"> 
                    <h1>{{title}}</h1>
                    <input type="email" v-model="email">
                    <input type="password" v-model="password">
                    <button>submit</submit>
                </form>
            `,
            data(){
                return {
                    title: 'login form',
                    email:'',
                    password:''
                }
            },
            methods:{
                handleSubmit(){
                    console.log(this.email,this.password)
                }
            }
        })
    
        app.mount('#app');
    </script>
</body>
</html>